@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  :root {
    --background: #111119;
    --foreground: #ededed;
  }
}

@layer utilities {
  .card-wrapper {
    @apply relative bg-slate-800 overflow-hidden;
  }

  .card-wrapper::before {
    background: conic-gradient(
      rgba(0, 0, 0, 0.5) 0deg,
      rgba(255, 255, 255, 0.5) 0deg,
      transparent 25deg
    );

    @apply absolute h-[1800%] w-[200%] left-[-50%] top-[-850%] content-[''] animate-border-spin;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Inter;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
