@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  :root {
    --background: #111119;
    --foreground: #ededed;
  }
}

@layer utilities {
  .card-wrapper {
    @apply relative bg-slate-800 overflow-hidden;
  }

  .card-wrapper::before {
    background: conic-gradient(
      rgba(0, 0, 0, 0.5) 0deg,
      rgba(255, 255, 255, 0.5) 0deg,
      transparent 25deg
    );

    @apply absolute h-[1800%] w-[200%] left-[-50%] top-[-850%] content-[''] animate-border-spin;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Inter;
}
@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  /*use negative width if you want it to flow right to left else and positive for left to right*/
  to {
    background-position: 10000px 10000px;
  }
}

@layer utilities {
  .parallax-image {
  }

  #animatedBackground {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("./assets/suits-background.png");
    background-repeat: repeat;
    background-position: 0 0;
    background-size: auto 30%;
    /*adjust s value for speed*/
    animation: animatedBackground 1000s linear infinite;
  }

  .text-balance {
    text-wrap: balance;
  }
}
