@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  :root {
    --background: #333333;
    --foreground: #ededed;
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* .scrollbar::-webkit-scrollbar-track {
    position: relative;
    left: calc((100vw - 100%) / 2);
    border-radius: 90vh;
    margin-right: 2px;
    @apply bg-slate-800;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    position: relative;
    left: calc((100vw - 100%) / 2);
    @apply bg-slate-700;
    border-radius: 100vh;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-500;
  } */
}

@layer utilities {
  .card-wrapper {
    @apply relative bg-slate-800 overflow-hidden;
  }

  .card-wrapper::before {
    background: conic-gradient(
      rgba(0, 0, 0, 0.5) 0deg,
      rgba(255, 255, 255, 0.5) 0deg,
      transparent 25deg
    );

    @apply absolute h-[1800%] w-[200%] left-[-50%] top-[-850%] content-[''] animate-border-spin;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
